<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel='stylesheet' type='text/css' href='style.css'>
    <title>Lojinha</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="grid-container">
        <header class="row">
            <div>
                <a class="brand" href="index.html">Lojinha</a>
            </div>
            <div>
                <a href="cart.html">Carrinho</a>
                <a href="signin.html">Sign In</a>
            </div>
        </header>
        <main>
            <ul>
                <li>Produto 1</li>
                <li>Produto 2</li>
                <li>Produto 3</li>
                <li>Produto 4</li>
            </ul>

        </main>
        <footer class="row center">
            All right reserved
        </footer>
    </div>
</body>
</html>